.hero-header {
  margin-bottom: 30px;
  padding: 0px 40px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}
.hero-header h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-header p {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
}
.hero-image {
  margin-top: 10px;
  text-align: center;
}
